In [2]:
# Importations

import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)

In [3]:
# Load airlines dataset
airlines = pd.read_csv('/Users/daniela/Desktop/Final_project/data_raw/airlines.csv')

# Load airports dataset
airports = pd.read_csv('/Users/daniela/Desktop/Final_project/data_raw/airports.csv')

# Load flights dataset
flights = pd.read_csv('/Users/daniela/Desktop/Final_project/data_raw/flights.csv')

print("Airlines shape:", airlines.shape)
print("Airports shape:", airports.shape)
print("Flights shape:", flights.shape)

/var/folders/r8/sbs1vswj5qb9kjwlkhpfxj4c0000gn/T/ipykernel_9889/2196706659.py:8: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('/Users/daniela/Desktop/Final_project/data_raw/flights.csv')

Airlines shape: (14, 2)
Airports shape: (322, 7)
Flights shape: (5819079, 31)

In [4]:
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [5]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [6]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
airlines.info()
airports.info()
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  14 non-null     object
 1   AIRLINE    14 non-null     object
dtypes: object(2)
memory usage: 352.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [8]:
# Join 1: Flights + Airlines
# The dataset flights has a column "Airline" which contains the IATA code and the dataset airlines has a column "IATA_code".

flights_airlines = flights.merge(
    airlines,
    how="left",
    left_on="AIRLINE",
    right_on="IATA_CODE"
)

flights_airlines.rename(columns={"AIRLINE_y": "AIRLINE_NAME"}, inplace=True)

In [9]:
# Join 2: Origin Airport Info
# The dataset flights_airlines has a column "IATA_CODE" and the dataset airports has a column "ORIGIN_AIRPORT". We want to merge the flight data with airport info from origin. 

flights_airports = flights_airlines.merge(
    airports,
    how='left',
    left_on="ORIGIN_AIRPORT",
    right_on="IATA_CODE",
    suffixes=("", "_ORIGIN")
)

In [10]:
# Join 3: Destination Airport Info
# We merge the flights with airport info again, this time for the destination airport. 

final_df = flights_airports.merge(
    airports,
    how="left",
    left_on="DESTINATION_AIRPORT",
    right_on="IATA_CODE",
    suffixes=("", "_DEST")
)

In [11]:
print("Final dataset shape:", final_df.shape)

Final dataset shape: (5819079, 47)

In [12]:
# Missing values check

missing_summary = (
    final_df.isna()
    .sum()
    .to_frame(name="missing_count")
)

missing_summary["missing_percent"] = (
    missing_summary["missing_count"] / len(final_df) * 100
)

missing_summary.sort_values("missing_percent", ascending=False).head(10)

                     missing_count  missing_percent
CANCELLATION_REASON        5729195        98.455357
WEATHER_DELAY              4755640        81.724960
LATE_AIRCRAFT_DELAY        4755640        81.724960
AIRLINE_DELAY              4755640        81.724960
SECURITY_DELAY             4755640        81.724960
AIR_SYSTEM_DELAY           4755640        81.724960
LONGITUDE_DEST              490775         8.433895
LATITUDE_DEST               490775         8.433895
LONGITUDE                   490770         8.433809
LATITUDE                    490770         8.433809

In [13]:
# Saving the joint dataset in the data carpet

final_df.to_csv('../data/joint_dataset.csv', index=False)